PORT=5000
CLIENT_URL=http://localhost:4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=mi_pass
DB_NAME=herramienta_case
JWT_SECRET=clave_dev_cambiar_en_produccion
JWT_EXPIRES_IN=8h
JWT_SLIDE_WINDOW=30m
API_KEY_DEEPSEEK=mi_api_key
DEEPSEEK_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat
WHISPER_URL=http://localhost:9000/transcribe
